body {
    font-family: Candara, Arial, sans-serif;
    font-size: 1.3rem;
    background-color: #e4e4e4;
    text-align: left;
    line-height: 1.5;
}

header {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 70px;
}

header h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    background-color: #92918c;
    padding: 10px;
    border: 2px solid #c69610;
    border-radius: 10px;
}

header p {
    color:rgb(31, 181, 226);
    font-size: 1.3rem;
    border-left: 5px solid #c69610;
    padding: 10px;
    padding-left: 20px;
}

section {
    margin-bottom: 30px;
    padding-left: 25%;
    padding-right: 25%;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: black;
}

form {
    margin-left: 20%;
    margin-right: 20%;
}
